@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=container-max] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=container-min] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1109.98px) {
  [class*=container-max] {
    max-width: 970px;
  }
  [class*=container-min] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=container-max] {
    max-width: 750px;
  }
  [class*=container-min] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=container-max] {
    max-width: none;
    padding: 0 10px;
  }
  [class*=container-min] {
    max-width: none;
    padding: 0 10px;
  }
}
.header__wrap {
  background-color: #1E6140;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
.header__content-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-item {
  margin-right: 45px;
}
.header__menu-item:last-child {
  margin-right: 0px;
}
.header__menu-link {
  color: #fff;
  font-weight: 300;
  line-height: 20px;
}
.header__decor {
  width: 1px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header__registration-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__registration-item {
  margin-right: 20px;
}
.header__registration-item:last-child {
  margin-right: 0px;
}
.header__registration-item:first-child:before {
  content: "";
  cursor: pointer;
  position: absolute;
  background-image: url("../../img/icons/header/menu-registration-login.svg");
  width: 20px;
  height: 20px;
  margin-left: -25px;
}
.header__registration-item:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 17px;
  background-color: #fff;
  margin-top: 1px;
  margin-left: -10px;
}
.header__registration-link {
  color: #fff;
  font-weight: 300;
  line-height: 20px;
}
.header__navigation-wrap {
  background: url("../../img/header/navigation_background.jpg") 0 0/cover no-repeat;
  padding-top: 20px;
}
.header__registration-navigation-wrap {
  padding-top: 20px;
}
.header__logo {
  width: 158px;
  height: 71px;
}
.header__search-form {
  position: relative;
}
.header__search-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 90px;
  padding: 10px 60px 10px 20px;
  font-weight: 400;
  line-height: 20px;
  width: 342px;
  height: 40px;
}
.header__search-button {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 2px;
  background: none;
}
.header__search-button::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 0;
}
.header__img {
  margin-right: 6px;
}
.header__text a {
  color: #000;
  font-weight: 400;
  line-height: 20px;
}
.header__text p {
  color: #84BE51;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
}
.header__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__information a {
  margin-right: 16px;
}
.header__information-value {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin-left: -10px;
}
.header__categories {
  margin-top: 35px;
}
.header__categories-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  min-height: 40px;
  border: 1px solid #1E6140;
  color: #000;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.header__item:hover {
  background-color: #E74E13;
  border: 1px solid #E74E13;
}
.header__item:hover {
  color: #fff;
}
.header__item:active {
  color: #1E6140;
}
.header__item-1::before {
  content: "";
  background-image: url("../../img/icons/header/categories-item1.svg");
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.header__item-2 {
  padding-left: 15px;
}
.header__item-2::before {
  content: "";
  background: url("../../img/icons/header/categories-item2.svg") no-repeat;
  width: 36px;
  height: 24px;
  margin-right: 5px;
}
.header__item-3::before {
  content: "";
  background: url("../../img/icons/header/categories-item3.svg") no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.header__item-4::before {
  content: "";
  background: url("../../img/icons/header/categories-item4.svg") no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.header__item-5 {
  padding-left: 35px;
}
.header__item-5::before {
  content: "";
  background: url("../../img/icons/header/categories-item5.svg") no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.header__body {
  margin-top: 60px;
}
.header__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__body-wrap {
  max-width: 560px;
  margin-top: 90px;
  margin-left: 50px;
}
.header__body-wrap h1 {
  font-weight: 300;
  font-size: 55px;
  line-height: 67px;
  color: #000;
  margin-bottom: 28px;
  position: relative;
}
.header__body-wrap h1 span {
  font-weight: 700;
}
.header__body-wrap h1::before {
  content: "";
  background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
  position: absolute;
  top: 25px;
  left: -40px;
  width: 32px;
  height: 25px;
}
.header__body-wrap p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 23px;
}
.header__body-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 47px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 90px;
  background-color: #E74E13;
  color: #fff;
}
.header__body-image img {
  max-width: 550px;
}
.header__body-button {
  display: none;
  margin-top: 17px;
  min-width: 100%;
}
.header__body-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 47px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 90px;
  background-color: #E74E13;
  color: #fff;
}
@media (max-width: 1200px) {
  .header__body-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__body-image {
    margin-top: 40px;
  }
  .header__navigation-wrap {
    padding-bottom: 40px;
  }
  .header__body-wrap a {
    display: none;
  }
  .header__body-image img {
    max-width: 683px;
  }
  .header__body-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1110.98px) {
  .header__menu-item {
    margin-right: 15px;
  }
  .header__decor {
    display: none;
  }
  .header__menu-link {
    font-size: 13px;
  }
  .header__registration-link {
    font-size: 14px;
  }
}
@media (max-width: 1110.98px) {
  .header__body-wrap {
    margin-top: 0px;
  }
}
@media (max-width: 660.98px) {
  .header__body-wrap {
    margin-left: 37px;
  }
  .header__body-image img {
    max-width: 100%;
  }
}
@media (max-width: 768.98px) {
  .header__menu {
    display: none;
  }
  .header__registration {
    margin-left: 30px;
  }
}
@media (max-width: 425.98px) {
  .header__body-wrap h1 {
    font-size: 30px;
    line-height: 27px;
  }
  .header__body-wrap h1::before {
    background: url("../../img/icons/main/about-us-sheet-min.svg") no-repeat;
    top: 10px;
    left: -25px;
  }
  .header__body-wrap {
    margin-left: 25px;
  }
}

.about-us {
  margin-top: 100px;
}
.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.about-us__image {
  max-width: 685px;
}
.about-us__image img {
  max-width: 100%;
}
.about-us__info {
  width: 540px;
}
.about-us__title h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
  margin-left: 45px;
  position: relative;
}
.about-us__title h3::before {
  content: "";
  background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
  position: absolute;
  top: 15px;
  left: -45px;
  width: 32px;
  height: 25px;
}
.about-us__text :last-child {
  margin-bottom: 0px;
}
.about-us__text p {
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 18px;
}
.about-us__text-color {
  font-weight: 700;
  color: #1E6140;
}
.about-us__button {
  margin-top: 37px;
}
.about-us__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 47px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 90px;
  background-color: #E74E13;
  color: #fff;
}
@media (max-width: 1290px) {
  .about-us__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us__image {
    margin-right: 0px;
  }
  .about-us__info {
    margin-top: 50px;
  }
  .about-us__button {
    text-align: center;
  }
  .about-us__button a {
    width: 290px;
    height: 47px;
  }
}
@media (max-width: 425.98px) {
  .about-us {
    margin-top: 40px;
  }
  .about-us__title h3 {
    font-size: 32px;
    line-height: 27px;
    margin-bottom: 11px;
  }
  .about-us__title h3::before {
    background: url("../../img/icons/main/about-us-sheet-min.svg") no-repeat;
    top: 10px;
    left: -25px;
  }
}

.novelty {
  margin-top: 100px;
}
.novelty__title {
  text-align: center;
  margin-bottom: 39px;
}
.novelty__title h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  position: relative;
}
.novelty__title h3::before {
  content: "";
  background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
  position: absolute;
  top: 15px;
  left: -45px;
  width: 32px;
  height: 25px;
}
.novelty__title h3::after {
  content: "";
  background: url("../../img/icons/main/about-us-sheet-specular.svg") no-repeat;
  position: absolute;
  top: 15px;
  right: -45px;
  width: 32px;
  height: 25px;
}
.novelty__slider-navigation {
  position: relative;
}
.novelty__slider-container {
  height: 430px;
}
.novelty__card {
  height: 355px;
  padding: 10px;
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
}
.novelty__card::after {
  content: "";
  background: url("../../img/icons/main/slide-block-comparison.svg") no-repeat;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 32px;
  height: 25px;
  cursor: pointer;
}
.novelty__card-image {
  max-width: 97px;
  max-height: 132px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 31px;
}
.novelty__card-image img {
  max-width: 100%;
}
.novelty__card-content {
  background: rgba(140, 50, 19, 0.06);
  border-radius: 20px;
  padding: 20px 20px 15px 20px;
}
.novelty__card-content h5 {
  font-weight: 600;
  line-height: 20px;
  color: #000;
  margin-bottom: 3px;
}
.novelty__card-content p {
  font-size: 14px;
  line-height: 17px;
  color: #1E6140;
}
.novelty__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.novelty__card-price {
  margin-left: 3px;
}
.novelty__card-price :first-child {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #84BE51;
}
.novelty__card-price :last-child {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 16px;
  background: rgba(141, 50, 0, 0.5);
  border-radius: 20px;
  -webkit-transition: height 0.7s ease;
  -o-transition: height 0.7s ease;
  transition: height 0.7s ease;
}

.swiper-pagination-bullet-active {
  height: 30px;
  background: #8D3200;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  bottom: -280px;
}

.swiper-button-prev::after {
  background: url("../../img/main/novelty-cards-arrow-left.svg");
}

.swiper-button-next::after {
  background: url("../../img/main/novelty-cards-arrow-right.svg");
}

@media (max-width: 1023.98px) {
  .swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
  }
}
.seeds {
  margin-top: 115px;
}
.seeds__wrap {
  background: url("../../img/main/seeds-backg.jpg") 0 0/cover no-repeat;
  min-height: 625px;
  padding-top: 110px;
  padding-bottom: 5px;
}
.seeds__content h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 10px;
  margin-left: 45px;
  color: #fff;
  position: relative;
}
.seeds__content h2::before {
  content: "";
  background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
  position: absolute;
  top: 15px;
  left: -45px;
  width: 32px;
  height: 25px;
}
.seeds__content p {
  line-height: 20px;
  margin-bottom: 20px;
  color: #fff;
}
@media (max-width: 1300.98px) {
  .seeds .swiper-pagination-bullet {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .seeds__content p {
    text-align: left;
  }
}
@media (max-width: 425.98px) {
  .seeds__wrap {
    padding-top: 34px;
  }
  .seeds__content h2 {
    font-size: 32px;
    line-height: 27px;
  }
  .seeds__content h2::before {
    background: url("../../img/icons/main/about-us-sheet-min.svg") no-repeat;
    top: 10px;
    left: -25px;
    width: 32px;
    height: 25px;
  }
}

.regist__content {
  margin-top: 80px;
}
.regist__text {
  text-align: center;
}
.regist__text h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 20px;
  position: relative;
}
.regist__text h1::before {
  content: "";
  background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
  position: absolute;
  top: 15px;
  left: -45px;
  width: 32px;
  height: 25px;
}
.regist__text h1::after {
  content: "";
  background: url("../../img/icons/main/about-us-sheet-specular.svg") no-repeat;
  position: absolute;
  top: 15px;
  right: -45px;
  width: 32px;
  height: 25px;
}
.regist__text p {
  font-weight: 400;
  line-height: 20px;
}
.regist__paragraph-two {
  display: none;
}
.regist__body {
  margin-top: 21px;
}
.regist__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 540px;
  margin: 0 auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}
.regist__style {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 90px;
  font-weight: 400;
  line-height: 20px;
  color: #484848;
  width: 255px;
  height: 40px;
  padding: 0 20px 0 20px;
}
.regist__style-password {
  width: 540px;
}
.regist__checkbox {
  width: 20px;
  height: 20px;
}
.regist__checkbox-text {
  font-weight: 400;
  line-height: 20px;
  color: #484848;
  margin-left: 5px;
}
.regist__checkbox-text-link {
  color: #84BE51;
}
.regist__btn {
  margin-top: 28px;
  background: #E74E13;
  width: 540px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}
@media (max-width: 425.98px) {
  .regist__text h1 {
    font-size: 36px;
  }
  .regist__paragraph-one {
    display: none;
  }
  .regist__paragraph-two {
    display: block;
  }
}
@media (max-width: 560.98px) {
  .regist__style {
    width: 290px;
  }
  .regist__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .regist__checkbox {
    display: none;
  }
  .regist__checkbox-text {
    display: none;
  }
  .regist__btn {
    margin-top: 0;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.footer__logo {
  width: 220px;
}
.footer__logo p {
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
}
.footer__information-title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
}
.footer__information-item {
  margin-bottom: 10px;
}
.footer__information-item:last-child {
  margin-bottom: 0px;
}
.footer__information-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.footer__goods-title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
}
.footer__goods-item {
  margin-bottom: 10px;
}
.footer__goods-item:last-child {
  margin-bottom: 0px;
}
.footer__goods-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.footer__contacts-title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
}
.footer__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}
.footer__number-img {
  margin-right: 6px;
}
.footer__number-text a {
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
.footer__number-text p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #84BE51;
  text-decoration: underline;
}
.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__mail-img {
  margin-right: 6px;
}
.footer__mail-text a {
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
.footer__info {
  margin: 17px 0 17px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  opacity: 0.5;
  text-align: center;
}
@media (max-width: 767.98px) {
  .footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__information {
    margin-bottom: 20px;
  }
  .footer__information-title h3 {
    font-size: 16px;
  }
  .footer__information-link {
    font-size: 16px;
  }
  .footer__goods-title h3 {
    font-size: 16px;
  }
  .footer__goods-link {
    font-size: 16px;
  }
  .footer__contacts-title h3 {
    font-size: 16px;
  }
  .footer__contacts {
    margin-top: 25px;
  }
}