@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=container-max] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=container-min] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1109.98px) {
  [class*=container-max] {
    max-width: 970px;
  }
  [class*=container-min] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=container-max] {
    max-width: 750px;
  }
  [class*=container-min] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=container-max] {
    max-width: none;
  }
  [class*=container-min] {
    max-width: none;
  }
}
.header__wrap {
  background-color: #1E6140;
  min-height: 50px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  margin-top: 13px;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-item {
  margin-right: 45px;
}
.header__menu-item:last-child {
  margin-right: 0px;
}
.header__menu-link {
  color: #fff;
  font-weight: 300;
  line-height: 20px;
}
.header__decor {
  width: 1px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header__registration {
  margin-top: 13px;
}
.header__registration-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__registration-item {
  margin-right: 20px;
}
.header__registration-item:last-child {
  margin-right: 0px;
}
.header__registration-item:first-child:before {
  content: "";
  cursor: pointer;
  position: absolute;
  background-image: url("../../img/icons/navigation_login.svg");
  width: 20px;
  height: 20px;
  margin-left: -25px;
}
.header__registration-item:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 17px;
  background-color: #fff;
  margin-top: 1px;
  margin-left: -10px;
}
.header__registration-link {
  color: #fff;
  font-weight: 300;
  line-height: 20px;
}
.header__navigation-wrap {
  background-image: url("../../img/navigation_background.jpg");
  height: 1000px;
  padding-top: 20px;
}