@import './nullstyle.scss';
@import './color.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

[class*="container-max"]{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="container-min"]{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1109.98px) {
	[class*="container-max"]{
		max-width: 970px;
	}
	[class*="container-min"]{
		max-width: 970px;
	}
}
@media (max-width: 990.98px) {
	[class*="container-max"]{
		max-width: 750px;
	}
	[class*="container-min"]{
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*="container-max"]{
		max-width: none;
		padding: 0 10px;
	}
	[class*="container-min"]{
		max-width: none;
		padding: 0 10px;
	}
}
.header {

	&__wrap {
		background-color: $green;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__wrap-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
	}

	&__content-registration {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
	}

	&__menu {
	}

	&__menu-list {
		display: flex;
	}

	&__menu-item {
		margin-right: 45px;

		&:last-child {
			margin-right: 0px;
		}
	}

	&__menu-link {
		color: $white;
		font-weight: 300;
		line-height: 20px;
	}

	&__decor {
		width: 1px;
		height: 50px;
		background-color: rgba(255, 255, 255, 0.2);
	}

	&__registration {
	}

	&__registration-list {
		display: flex;
	}

	&__registration-item {
		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}

		&:first-child:before {
			content: '';
			cursor: pointer;
			position: absolute;
			background-image: url("../../img/icons/header/menu-registration-login.svg");
			width: 20px;
			height: 20px;
			margin-left: -25px;
		}

		&:last-child::before {
			content: '';
			position: absolute;
			width: 1px;
			height: 17px;
			background-color: $white;
			margin-top: 1px;
			margin-left: -10px;
		}
	}

	&__registration-link {
		color: $white;
		font-weight: 300;
		line-height: 20px;
	}

	&__navigation {
	}

	&__navigation-wrap {
		background: url("../../img/header/navigation_background.jpg") 0 0/cover no-repeat;
		padding-top: 20px;
	}

	&__registration-navigation-wrap {
		padding-top: 20px;
	}

	&__logo {
		width: 158px;
		height: 71px;
	}

	&__search {
	}

	&__search-form {
		position: relative;
	}

	&__search-input {
		border: 1px solid rgba($black, 0.2);
		border-radius: 90px;
		padding: 10px 60px 10px 20px;
		font-weight: 400;
		line-height: 20px;
		width: 342px;
		height: 40px;
	}

	&__search-button {
		position: absolute;
		top: 5px;
		right: 20px;
		width: 30px;
		height: 30px;
		padding: 2px;
		background: none;

		&::before {
			content: '';
			position: absolute;
			width: 1px;
			height: 30px;
			background-color: rgba($black, 0.2);
			left: -5px;
			top: 0;
		}
	}

	&__contacts {
	}

	&__img {
		margin-right: 6px;
	}

	&__text {

		a {
			color: $black;
			font-weight: 400;
			line-height: 20px;
		}

		p {
			color: $light-green;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			text-decoration: underline;
		}
	}

	&__information {
		display: flex;
		align-items: center;
		a {
			margin-right: 16px;
		}
	}

	&__information-value {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		color: $black;
		margin-left: -10px;
	}

	&__categories {
		margin-top: 35px;
	}
	&__categories-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		min-height: 40px;
		border: 1px solid $green;
		color: $black;
		border-radius: 20px;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;

		&:hover {
			background-color: $orange;
			border: 1px solid $orange;
		}

		&:hover {
			color: $white;
		}
		&:active {
			color: $green;
		}
	}

	&__item-1 {
		&::before {
			content: '';
			background-image: url("../../img/icons/header/categories-item1.svg");
			width: 24px;
			height: 24px;
			margin-right: 5px;
		}
	}

	&__item-2 {
		padding-left: 15px;

		&::before {
			content: '';
			background: url("../../img/icons/header/categories-item2.svg") no-repeat;
			width: 36px;
			height: 24px;
			margin-right: 5px;
		}
	}

	&__item-3 {
		&::before {
			content: '';
			background: url("../../img/icons/header/categories-item3.svg") no-repeat;
			width: 24px;
			height: 24px;
			margin-right: 5px;
		}
	}

	&__item-4 {
		&::before {
			content: '';
			background: url("../../img/icons/header/categories-item4.svg") no-repeat;
			width: 24px;
			height: 24px;
			margin-right: 5px;
		}
	}

	&__item-5 {
		padding-left: 35px;

		&::before {
			content: '';
			background: url("../../img/icons/header/categories-item5.svg") no-repeat;
			width: 24px;
			height: 24px;
			margin-right: 5px;
		}
	}

	&__body {
		margin-top: 60px;
	}

	&__body-content {
		display: flex;
		justify-content: space-between;
	}

	&__body-wrap {
		max-width: 560px;
		margin-top: 90px;
		margin-left: 50px;

		h1 {
			font-weight: 300;
			font-size: 55px;
			line-height: 67px;
			color: $black;
			margin-bottom: 28px;
			position: relative;

			span {
				font-weight: 700;
			}

			&::before {
				content: '';
				background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
				position: absolute;
				top: 25px;
				left: -40px;
				width: 32px;
				height: 25px;
			}
		}

		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 23px;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 220px;
			height: 47px;
			font-weight: 700;
			line-height: 20px;
			border-radius: 90px;
			background-color: $orange;
			color: $white;
		}
	}

	&__body-image {
		img {
			max-width: 550px;
		}
	}

	&__body-button {
		display: none;
		margin-top: 17px;
		min-width: 100%;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 290px;
			height: 47px;
			font-weight: 700;
			line-height: 20px;
			border-radius: 90px;
			background-color: $orange;
			color: $white;
		}
	}

	@media (max-width: 1200px) {
		&__body-content {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__body-image {
			margin-top: 40px;
		}
		&__navigation-wrap {
			padding-bottom: 40px;
		}
		&__body-wrap {
			a {
				display: none;
			}
		}
		&__body-image {
			img {
				max-width: 683px;
			}
		}
		&__body-button {
			display: flex;
			justify-content: center;
		}
	}
	@media (max-width: 1110.98px) {

		&__menu-item {
			margin-right: 15px;
		}

		&__decor {
			display: none;
		}

		&__menu-link {
			font-size: 13px;
		}

		&__registration-link {
			font-size: 14px;
		}
	}
	@media (max-width: 1110.98px) {
		&__body-wrap {
			margin-top: 0px;
		}
	}
	@media (max-width: 660.98px) {

		&__body-wrap {
			margin-left: 37px;
		}

		&__body-image {
			img {
				max-width: 100%;
			}
		}
	}
	@media (max-width: 768.98px) {

		&__menu {
			display: none;
		}

		&__registration {
			margin-left: 30px;
		}
	}
	@media (max-width: 425.98px) {
		&__body-wrap {
			h1 {
				font-size: 30px;
				line-height: 27px;
				&::before {
					background: url("../../img/icons/main/about-us-sheet-min.svg") no-repeat;
					top: 10px;
					left: -25px;
				}
			}
		}
		&__body-wrap {
			margin-left: 25px;
		}
	}
}
.about-us {
	margin-top: 100px;
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	&__image {
		max-width: 685px;
		img {
			max-width: 100%;
		}
	}

	&__info {
		width: 540px;
	}

	&__title {
		h3 {
			font-weight: 700;
			font-size: 45px;
			line-height: 55px;
			color: $black;
			margin-bottom: 25px;
			margin-left: 45px;
			position: relative;
			&::before {
				content: '';
				background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
				position: absolute;
				top: 15px;
				left: -45px;
				width: 32px;
				height: 25px;
			}
		}
	}

	&__text {
		:last-child {
			margin-bottom: 0px;
		}
		p {
			font-weight: 400;
			line-height: 20px;
			color: rgba($black, 0.5);
			margin-bottom: 18px;
		}
	}

	&__text-color {
		font-weight: 700;
		color: $green;
	}

	&__button {
		margin-top: 37px;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 220px;
			height: 47px;
			font-weight: 700;
			line-height: 20px;
			border-radius: 90px;
			background-color: $orange;
			color: $white;
		}
	}
	@media (max-width: 1290px) {
		&__content {
			justify-content: center;
		}
		&__image {
			margin-right: 0px;
		}
		&__info {
			margin-top: 50px;
		}
		&__button {
			text-align: center;
			a {
				width: 290px;
				height: 47px;
			}
		}
	}
	@media (max-width: 425.98px) {
		& {
			margin-top: 40px;
		}
		&__title {
			h3 {
				font-size: 32px;
				line-height: 27px;
				margin-bottom: 11px;
				&::before {
					background: url("../../img/icons/main/about-us-sheet-min.svg") no-repeat;
					top: 10px;
					left: -25px;
				}
			}
		}
	}
}
.novelty {
	margin-top: 100px;
	&__title {
		text-align: center;
		margin-bottom: 39px;
		h3 {
			display: inline-block;
			font-weight: 700;
			font-size: 45px;
			line-height: 55px;
			color: $black;
			position: relative;
			&::before {
				content: '';
				background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
				position: absolute;
				top: 15px;
				left: -45px;
				width: 32px;
				height: 25px;
			}
			&::after {
				content: '';
				background: url("../../img/icons/main/about-us-sheet-specular.svg") no-repeat;
				position: absolute;
				top: 15px;
				right: -45px;
				width: 32px;
				height: 25px;
			}
		}
	}

	&__slider-navigation {
		position: relative;
	}

	&__slider-container {
		height: 430px;
	}

	&__card {
		height: 355px;
		padding: 10px;
		position: relative;
		background: #FFFFFF;
		border-radius: 20px;
		box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
		&::after {
			content: '';
			background: url("../../img/icons/main/slide-block-comparison.svg") no-repeat;
			position: absolute;
			top: 20px;
			right: 15px;
			width: 32px;
			height: 25px;
			cursor: pointer;
		}
	}

	&__image-content {
	}

	&__card-image {
		max-width: 97px;
		max-height: 132px;
		margin: 0 auto;
		margin-bottom: 32px;
		margin-top: 31px;
		img {
			max-width: 100%;
		}
	}

	&__card-content {
		background: rgba(140, 50, 19, 0.06);
		border-radius: 20px;
		padding: 20px 20px 15px 20px;
		h5 {
			font-weight: 600;
			line-height: 20px;
			color: $black;
			margin-bottom: 3px;
		}
		p {
			font-size: 14px;
			line-height: 17px;
			color: $green;
		}
	}

	&__card-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__card-price {
		margin-left: 3px;
		:first-child {
			display: block;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			color: $light-green;
		}
		:last-child {
			display: block;
			font-size: 14px;
			line-height: 17px;
			color: $black;
		}
	}

	&__card-basket {
	}
}
.swiper-pagination-bullet {
	width: 6px;
	height: 16px;
	background: rgba(141, 50, 0, 0.5);
	border-radius: 20px;
	transition: height 0.7s ease;
}

.swiper-pagination-bullet-active {
	height: 30px;
	background: #8D3200;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	position: absolute;
	content: '';
	width: 70px;
	height: 70px;
	bottom: -280px;
}
.swiper-button-prev::after {
	background: url('../../img/main/novelty-cards-arrow-left.svg');
}
.swiper-button-next::after {
	background: url('../../img/main/novelty-cards-arrow-right.svg');
}
@media (max-width: 1023.98px) {
	.swiper-button-prev::after,
	.swiper-button-next::after {
		display: none;
	}
}
.seeds {
	margin-top: 115px;
	&__wrap {
		background: url('../../img/main/seeds-backg.jpg') 0 0/cover no-repeat;
		min-height: 625px;
		padding-top: 110px;
		padding-bottom: 5px;
	}

	&__content {
		h2 {
			font-weight: 700;
			font-size: 45px;
			line-height: 55px;
			margin-bottom: 10px;
			margin-left: 45px;
			color: $white;
			position: relative;
			&::before {
				content: '';
				background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
				position: absolute;
				top: 15px;
				left: -45px;
				width: 32px;
				height: 25px;
			}
		}
		p {
			line-height: 20px;
			margin-bottom: 20px;
			color: $white;
		}
	}
	@media (max-width: 1300.98px) {
		.swiper-pagination-bullet {
			display: none;
		}
	}
	@media (max-width: 767.98px) {
		&__content {
			p {
				text-align: left;
			}
		}
	}
	@media (max-width: 425.98px) {
		&__wrap {
			padding-top: 34px;
		}
		&__content {
			h2 {
				font-size: 32px;
				line-height: 27px;
				&::before {
					background: url("../../img/icons/main/about-us-sheet-min.svg") no-repeat;
					top: 10px;
					left: -25px;
					width: 32px;
					height: 25px;
				}
			}
		}
	}
}
.regist {

	&__content {
		margin-top: 80px;
	}

	&__text {
		text-align: center;
		h1 {
			display: inline-block;
			font-weight: 700;
			font-size: 45px;
			line-height: 55px;
			color: $black;
			margin-bottom: 20px;
			position: relative;
			&::before {
				content: '';
				background: url("../../img/icons/main/about-us-sheet.svg") no-repeat;
				position: absolute;
				top: 15px;
				left: -45px;
				width: 32px;
				height: 25px;
			}
			&::after {
				content: '';
				background: url("../../img/icons/main/about-us-sheet-specular.svg") no-repeat;
				position: absolute;
				top: 15px;
				right: -45px;
				width: 32px;
				height: 25px;
			}
		}
		p {
			font-weight: 400;
			line-height: 20px;
		}
	}

	&__paragraph-two {
		display: none;
	}

	&__body {
		margin-top: 21px;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		max-width: 540px;
		margin: 0 auto;
		column-gap: 30px;
		row-gap: 20px;
	}

	&__style {
		background: $white;
		border: 1px solid rgba($black, 0.2);
		border-radius: 90px;
		font-weight: 400;
		line-height: 20px;
		color: #484848;
		width: 255px;
		height: 40px;
		padding: 0 20px 0 20px;
	}

	&__style-password {
		width: 540px;
	}

	&__checkbox {
		width: 20px;
		height: 20px;
	}

	&__checkbox-text {
		font-weight: 400;
		line-height: 20px;
		color: #484848;
		margin-left: 5px;
	}

	&__checkbox-text-link {
		color: $light-green;
	}

	&__btn {
		margin-top: 28px;
		background: $orange;
		width: 540px;
		font-weight: 700;
		line-height: 20px;
		color: $white;
	}

	@media (max-width: 425.98px) {
		&__text {
			h1 {
				font-size: 36px;
			}
		}

		&__paragraph-one {
			display: none;
		}

		&__paragraph-two {
			display: block;
		}
	}
	@media (max-width: 560.98px) {
		&__style {
			width: 290px;
		}
		&__form {
			justify-content: center;
		}
		&__checkbox {
			display: none;
		}
		&__checkbox-text {
			display: none;
		}
		&__btn {
			margin-top: 0;
		}
	}
}
.footer {

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		padding-top: 120px;
		padding-bottom: 120px;
		border-bottom: 1px solid rgba($black, 0.2);
	}

	&__logo {
		width: 220px;

		p {
			font-weight: 400;
			line-height: 20px;
			color: rgba(0, 0, 0, 0.6);
			margin-top: 15px;
		}
	}

	&__information {
	}

	&__information-title {
		h3 {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: $black;
			margin-bottom: 20px;
		}
	}

	&__information-categories {
	}

	&__information-list {
	}

	&__information-item {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	&__information-link {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: $black;
	}

	&__goods {
	}

	&__goods-title {
		h3 {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: $black;
			margin-bottom: 20px;
		}
	}

	&__goods-categories {
	}

	&__goods-list {
	}

	&__goods-item {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	&__goods-link {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: $black;
	}

	&__contacts {
	}

	&__contacts-title {
		h3 {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: $black;
			margin-bottom: 20px;
		}
	}

	&__number {
		display: flex;
		align-items: center;
		margin-bottom: 21px;
	}

	&__number-img {
		margin-right: 6px;
	}

	&__number-text {
		a {
			font-weight: 400;
			line-height: 20px;
			color: $black;
		}

		p {
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: $light-green;
			text-decoration: underline;
		}
	}

	&__mail {
		display: flex;
		align-items: center;
	}

	&__mail-img {
		margin-right: 6px;
	}

	&__mail-text {
		a {
			font-weight: 400;
			line-height: 20px;
			color: $black;
		}
	}

	&__info {
		margin: 17px 0 17px 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $black;
		opacity: 0.5;
		text-align: center;
	}
	@media (max-width: 767.98px) {
		&__content {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		&__logo {
			margin-bottom: 20px;
		}
		&__information {
			margin-bottom: 20px;
		}
		&__information-title {
			h3 {
				font-size: 16px;
			}
		}
		&__information-link {
			font-size: 16px;
		}
		&__goods-title {
			h3 {
				font-size: 16px;
			}
		}
		&__goods-link {
			font-size: 16px;
		}
		&__contacts-title {
			h3 {
				font-size: 16px;
			}
		}
		&__contacts {
			margin-top: 25px;
		}
	}
}